.shipping {
    display: flex;
    background-color: var(--Color-Six);
    margin-top: 6rem;
}
.card-logo {
    width: 3rem;
    height: 2rem;
    margin: 0rem;
    align-self:center;
}
.shipping .checkout-box {
    display: flex;
    flex-direction: column;
    color: var(--Color-Three);
    padding: 1rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    height: fit-content;
    border-left: 1px solid var(--Color-Three);
}
.shipping .checkout-box .item-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.shipping .checkout-item {
    display: flex;
    column-gap: 0.5rem;
    margin: 0rem;
}
.shipping .checkout-item .img-wrp {
    margin: auto 0rem;
    width: 7rem;
    text-align: left;
}
.shipping .checkout-item img {
    width: 7rem;
    height: 5rem;
    border-radius: 1rem;
    margin: 0rem;
}
.shipping .checkout-item .item-info {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin: 0rem;
}
.shipping .checkout-item .item-info div {
    margin-left: 0rem;
    text-align: left;
}
.shipping .checkout-item .item-info div:first-child {
    font-weight: bold;
    margin: 0rem;
}
.shipping .checkout-box button {
    width: 15rem;
    height: 3rem;
    background-color: transparent;
    border: 1px solid var(--Color-Three);
}
.shipping .checkout-box button:hover {
    color: var(--Color-Three);
    border: none;
}
.shipping .checkout-box .item-costs  {
    margin-top: 5rem;
    margin-left: 0rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    font-size: 1rem;
}
.shipping .checkout-box .item-costs .checkout-costs {
    margin-left: 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.shipping .checkout-box .item-costs .total-checkout {
    margin-top: 5rem;
}
.shipping .checkout-box .item-costs .cost {
    margin: 0rem;
    display: flex;
}
.shipping .checkout-box .item-costs .total-checkout div {
    margin-left: 0rem;
}
.shipping .checkout-box .item-costs div span:first-child {
    font-weight: bold;
    font-style: italic;
    margin-left: 0rem;
}
.shipping .checkout-box .item-costs div span:last-child {
    margin-right: 0rem;
}
.shipping .shipping-info {
    margin-top: 0rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 50%;
}
.shipping .shipping-info > * {
    margin-left: 0rem;
}
.shipping .shipping-info input, .shipping .shipping-info select {
    background-color: transparent;
    border: none;
    height: 2rem;
    width: 15rem;
    padding-left: 0.25rem;
    margin: 0rem;
    border-bottom: 1px solid var(--Color-Three);
}
.shipping .shipping-info .name-ctn, .shipping .shipping-info .location-ctn, .shipping .shipping-info .address-ctn {
    display: flex;
    column-gap: 1rem;
    margin: 0rem;
    justify-content: left;
}
.shipping .shipping-info .card-ctn {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.shipping .shipping-info .card-ctn .security-ctn {
    display: flex;
    column-gap: 1rem;
}
.shipping .shipping-info .card-ctn .security-ctn div {
    width: fit-content;
}
.shipping .shipping-info .card-number-ctn {
    width: fit-content;
}
.shipping .shipping-info .card-number-ctn div {
    margin: 0rem;
    display: flex;
}
.shipping .shipping-info .card-number-ctn img {
    margin: 0rem;
}
.shipping .shipping-info h2 {
    text-align: left;
    font-size: 1rem;
    color: var(--Color-Three);
    font-style: italic;
    border-bottom: 1px solid var(--Color-Three);
}
.shipping .shipping-info div div {
    margin: 0rem;
}
.shipping .shipping-info p {
    visibility: hidden;
    font-size: 0.75rem;
    padding: 0.5rem;
}
.shipping .shipping-info .first-error,
.shipping .shipping-info .last-error, 
.shipping .shipping-info .address-error, 
.shipping .shipping-info .city-error, 
.shipping .shipping-info .province-error, 
.shipping .shipping-info .post-error,
.shipping .shipping-info .card-ctn .card-number-error,
.shipping .shipping-info .card-ctn .security-ctn .expiration-error,
.shipping .shipping-info .card-ctn .security-ctn .security-error
{
    background-color: var(--Color-Eight);
    color: var(--Color-Eleven);
    visibility: visible;
}
@media all and (max-width: 1024px) {
    .name-ctn, .address-ctn, .location-ctn, .security-ctn {
        flex-direction: column;
        column-gap: none;
        align-items: flex-start;
    }
}
@media all and (max-width: 768px) {
    .shipping {
        flex-direction: column;
        row-gap: 4rem;
    }
    .shipping .shipping-info {
        margin: auto;
        margin-left: 2rem;
    }
    .shipping .checkout-box {
        border-left: none;
    }
    .shipping .checkout-box button {
        width: 20rem;
    }
    .name-ctn, .address-ctn, .location-ctn, .security-ctn {
        flex-direction: row;
    }
    .shipping .checkout-item {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        background-color: var(--Color-One);
        border-radius: 1rem;
        padding: 1rem;
    }
}
@media all and (max-width: 530px) {
    .name-ctn, .address-ctn, .location-ctn, .security-ctn {
        flex-direction: column;
        column-gap: none;
        row-gap: 1rem;
        align-items: flex-start;
    }
    .shipping .shipping-info {
        margin-left: auto;
    }
}

