.store-container {
    background-color: var(--Color-Ten);
}
.store-container .categories {
    display: flex;
    padding-top: 5rem;
}
.store-container .categories div:first-child {
    margin-left: 6rem;  
}
.store-container .categories div:last-child {
    margin-right: 6rem;
    display: flex;
    column-gap: 2rem;
}
.store-container .categories button {
    background-color: transparent;
    border: none;
}
.store-container .categories div {
    color: var(--Color-Three);
}
.store-container .categories .search-wrp {
    margin-right: 8rem;
    width: 1rem;
    cursor: pointer;
}
.store-container .categories .search-wrp input {
    border-radius: 0.25rem;
    border: 1px solid var(--Color-Three);
    background-color: transparent;
    padding-left: 0.25rem;
    height: 2rem;
}
.store-container .product-ctn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
    padding-top: 1rem;
    width: 100vw;
}
.loading {
    color: var(--Color-Ten); 
    background-color: var(--Color-Three);
}
.store-container .error-message {
    width: 10rem; 
    height: 2rem; 
    color: var(--Color-Two); 
    position: fixed; 
    top: 20rem;
}
.store-container .home-header {
    display: flex;
    padding-top: 0rem;
    color: var(--Color-Eleven);
    background-color: var(--Color-Six);
}
.store-container .home-header img {
    position: relative;
    top: 5rem;
}
.store-container .home-header > div {
    text-align: left;
}
.store-container .home-header p, .store-container .home-header h3 {
    align-self: flex-start;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.store-container .home-header h3 {
    font-weight: 500;
    font-size: 2rem;
}
.store-container .home-header .dummy-btn-ctn {
    display: flex;
    width: 15rem;
    margin-left: 0rem;
}
.store-container .home-header .dummy-btn-ctn button:first-child, #log-btn {
    background-color: var(--Color-One);
    border: none;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 6rem;
}
.store-container .home-header .dummy-btn-ctn button:last-child {
    background-color: transparent;
    border: 1px solid var(--Color-Eleven);
    padding: 0.5rem;
    border-radius: 1rem;
    width: 6rem;
}


