.store-container {
    background-color: var(--Color-Six);
    margin-top: 0rem;
    width: 100%;
}
.store-container .categories {
    display: flex;
    padding-top: 5rem;
}
.store-container .categories .products {
    margin-left: 6rem;
}
.store-container .categories div:last-child {
    margin-right: 6rem;
    display: flex;
    column-gap: 2rem;
}
.store-container .categories button {
    background-color: transparent;
    border: none;
}
.store-container .categories div {
    color: var(--Color-Three);
}
.store-container .categories .search-wrp {
    margin-left: 6rem;
    margin-right: 8rem;
}
.store-container .categories .search-wrp input {
    border-radius: 0.25rem;
    border: 1px solid var(--Color-Three);
    background-color: transparent;
    padding-left: 0.25rem;
    height: 2rem;
}
.store-container .product-ctn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
    padding-top: 1rem;
    width: 100vw;
}
.loading {
    color: var(--Color-Ten); 
    background-color: var(--Color-Three);
}
.store-container .home-header {
    display: flex;
    padding-top: 0rem;
    color: var(--Color-Eleven);
    background-color: var(--Color-Six);
}
.store-container .home-header img {
    position: relative;
    top: 5rem;
    width: 60%;
}
.store-container .home-header > div {
    text-align: left;
}
.store-container .home-header p, .store-container .home-header h3 {
    align-self: flex-start;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.store-container .home-header h3 {
    font-weight: 500;
    font-size: 2rem;
}
.store-container .home-header .dummy-btn-ctn {
    display: flex;
    width: 15rem;
    margin-left: 0rem;
}
.store-container .home-header .dummy-btn-ctn button:first-child, #log-btn {
    background-color: var(--Color-One);
    border: none;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 6rem;
}
.store-container .home-header .dummy-btn-ctn button:last-child {
    background-color: transparent;
    border: 1px solid var(--Color-Eleven);
    padding: 0.5rem;
    border-radius: 1rem;
    width: 6rem;
}
@media all and (max-width: 1024px) {
    .store-container .product-ctn {
        grid-template-columns: repeat(3, 1fr);
        width: auto;
    }
    .store-container .categories div:last-child {
        margin-right: 4rem;
    }
    .store-container .categories .products {
        margin-left: 4rem;
    }
    .store-container .categories .search-wrp {
        margin-left: unset;
        margin-right: unset;
    }
}
@media all and (max-width: 768px) {
    .store-container .product-ctn {
        grid-template-columns: repeat(2, 1fr);
    }
    .store-container .pop-options {
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
    }
    .store-container .pop-options button {
        font-size: 2.5rem;
    }
    .store-container .pop-ctn {
        width: 75%;
        height: 70rem;
        padding: 1rem;
        position: absolute;
        left: 0rem;
        top: 6rem;
        margin: 0rem;
        z-index: 1;
        background-color: var(--Color-Ten);
        border-radius: 1rem;
        opacity: 0.9;
    }
    .store-container .pop-ctn .times-logo {
        position: absolute;
        right: 0.25rem;
        top: 0.25rem;
        cursor: pointer;
        width: 4rem;
        padding: 0.5rem;
    }
    #log-btn {
        width: 10rem;
    }
    .store-container .home-header .dummy-btn-ctn {
        width: 40rem;
        column-gap: 1rem;
    }
    .store-container .home-header .slogan-ctn {
        padding-left: 3rem;
    }
    .store-container .home-header .dummy-btn-ctn button:first-child, .store-container .home-header .dummy-btn-ctn button:last-child {
        width: 40%;
        height: 6rem;
        border-radius: 3rem;
        font-size: 2rem;
    }
    .store-container .home-header {
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
    }
    .store-container .home-header p {
        margin-bottom: 2rem;
        font-size: 100%;
    }
    .store-container .home-header h3 {
        font-size: 100%;
        font-weight: 500;
        margin-bottom: 2rem;
    }
    .store-container .categories {
        flex-direction: column;
        align-content: center;
        row-gap: 2rem;
    }
    .store-container .categories div:first-child {
        margin: 0rem;
        font-size: 4rem;
    }
    .store-container .categories div:last-child {
        flex-direction: column;
        margin: 0rem;
        row-gap: 2rem;
    }
    .store-container .categories .search-wrp input {
        height: 5rem;
        font-size: 2rem;
    }
    .store-container .categories button {
        font-size: 3rem;
        border-top: 1px solid var(--Color-Nine);
        border-bottom: 1px solid var(--Color-Nine);      
    }
}
@media all and (max-width: 375px) {
    .store-container .product-ctn {
        grid-template-columns: repeat(1, 1fr);
    }
    .store-container .home-header .dummy-btn-ctn button:first-child, .store-container .home-header .dummy-btn-ctn button:last-child {
        font-size: 1rem;
    }
   
}


