body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --Color-One: #D4A12A;
  --Color-Two: beige;
  --Color-Three: black;
  --Color-Four: #38383B;
  --Color-Five: #7A263A;
}
* {
  max-width: 1440px;
  margin: auto;
  padding: 0rem;
}

button {
  cursor: pointer;
}
button:hover {
  color: var(--Color-Two);
}

